{% block content %}
    <section>
        <div class="vwklhtmltables-item vwklhtmltables-panel vwklhtmltables-plugin vwklhtmltables-plugin-promo">
            <div id="containerWrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 style="text-align: center; line-height: 160%; margin: 90px 0;">
                        Thank you for downloading our table plugin! <br>
                        Please click on the sidebar sub-menu "Tables" <br>
                        and then "Add Table" in the sidebar to begin.
                        </h1>
         
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </section>
{% endblock %}